<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation=
               "http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean id="radio" class="strategy.RadioImpl"/>

    <bean id="alarm" class="strategy.HebrewAlarm"/>


    <bean id="radioAlarm" class="strategy.RadioAlarmImpl">

        <constructor-arg ref="alarm"/>
        <constructor-arg ref="radio"/>
    </bean>
</beans>